Repository erigones/esdc-factory, pull requests merged in 2019-02, with the labels that each got.

#121 fix admin VMs hostname change with new cloud-init
  ansible/templates/usb/zones/esdc-mgmt.vmmanifest.j2
  ansible/templates/usb/zones/esdc-mon.vmmanifest.j2
Labels: INSTALLER, blocker

#122 Fixed CPU monitoring script
  ansible/files/archives/monitoring/opt/zabbix/etc/scripts/vm-cpu-monitor
  docs/usb-image.rst
Labels: MON, USB image, bug

#123 Increased number of possible vNICs to 16
  ansible/roles/esdc-mon/files/templates/t_vm_network_net10.json
  ansible/roles/esdc-mon/files/templates/t_vm_network_net11.json
  ansible/roles/esdc-mon/files/templates/t_vm_network_net12.json
  ansible/roles/esdc-mon/files/templates/t_vm_network_net13.json
  ansible/roles/esdc-mon/files/templates/t_vm_network_net14.json
  ansible/roles/esdc-mon/files/templates/t_vm_network_net15.json
  ansible/roles/esdc-mon/files/templates/t_vm_network_net8.json
  ansible/roles/esdc-mon/files/templates/t_vm_network_net9.json
  ansible/roles/esdc-mon/vars/main.yml
Labels: MON, enhancement

#124 update 020-ipsec-restore.sh rc script
  ansible/files/archives/opt-custom/etc/rc-pre-network.d/020-ipsec-restore.sh
Labels: SmartOS
